<!DOCTYPE html>
<html>
<head>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/3rd/css")*@
    <link href="~/3rd/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/3rd/AdminLTE2.4.3/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/3rd/AdminLTE2.4.3/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/3rd/AdminLTE2.4.3/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/3rd/AdminLTE2.4.3/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    @*"~/3rd/bootstrap-3.3.7-dist/css/bootstrap.min.css",
    "~/3rd/AdminLTE2.4.3/bower_components/font-awesome/css/font-awesome.min.css",
    "~/3rd/AdminLTE2.4.3/bower_components/select2/dist/css/select2.min.css",
    "~/3rd/AdminLTE2.4.3/dist/css/AdminLTE.min.css",
    "~/3rd/AdminLTE2.4.3/dist/css/skins/_all-skins.min.css"*@

    <script src="~/3rd/jQuery/jquery.min.js"></script>
</head>
<body class="skin-blue-light sidebar-mini">
    <div>

        <div class="wrapper">
            <div class="main-header">
                <!-- Logo -->
                <a href="../Index02.aspx" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>H</b>L</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>HuLi</b>MES 2.0</span>
                </a>

                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>

                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                            </li>
                            <!-- Tasks: style can be found in dropdown.less -->
                            <li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger">9</span>
                                </a>

                            </li>
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="../3rd/AdminLTE2.4.3/image/avatar04.png" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">Admin</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="../3rd/AdminLTE2.4.3/image/avatar04.png" class="img-circle" alt="User Image">

                                        <p>
                                            Alexander Pierce - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">修改密码</a>

                                        </div>
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-default btn-flat">注销登录</a>

                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </nav>
            </div>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="../3rd/AdminLTE2.4.3/image/avatar04.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>
                                <asp:Label ID="lblName02" runat="server" Text="Label"></asp:Label>
                            </p>
                            <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <div class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="active treeview menu-open">
                            <a href="#">
                                <i class="fa fa-share"></i> <span>组件报表</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 组件生产
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="../Report/RunCard"><i class="fa fa-circle-o"></i>组件电子流转单</a></li>
                                        <li><a href="../Report/QC"><i class="fa fa-circle-o"></i>质量报表</a></li>
                                        <li><a href="../Report/TestDataDetail"><i class="fa fa-circle-o"></i>测试数据明细</a></li>
                                        <li><a href="../Report/PackOutput"><i class="fa fa-circle-o"></i>包装产量报表</a></li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> 看板报表
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-circle-o"></i>各站点产出</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i><span> 仓库模块</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Warehouse/StockIn"><i class="fa fa-circle-o"></i>申请入库</a></li>

                            </ul>
                        </li>
                        <!--
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>制造模块</span>
                                <span class="pull-right-container">
                                    <span class="label label-primary pull-right">4</span>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Product/AGCoating.aspx"><i class="fa fa-circle-o"></i>AG涂布</a></li>
                                <li><a href="/Product/AGCheck.aspx"><i class="fa fa-circle-o"></i>AG涂布检验</a></li>
                                <li><a href="/Product/UVBack.aspx"><i class="fa fa-circle-o"></i>UV背涂</a></li>
                                <li><a href="/Product/UVBackCheck.aspx"><i class="fa fa-circle-o"></i>UV背涂检验</a></li>
                                <li><a href="/Product/UVComplete.aspx"><i class="fa fa-circle-o"></i>UV成型</a></li>
                                <li><a href="/Product/UVCompleteCheck.aspx"><i class="fa fa-circle-o"></i>UV成型检验</a></li>
                                <li><a href="/Product/PasteFilm.aspx"><i class="fa fa-circle-o"></i>贴膜</a></li>
                                <li><a href="/Product/PasteFilmCheck.aspx"><i class="fa fa-circle-o"></i>贴膜检验</a></li>
                                <li><a href="/Product/Subsection.aspx"><i class="fa fa-circle-o"></i>分条</a></li>
                                <li><a href="/Product/SubsectionCheck.aspx"><i class="fa fa-circle-o"></i>分条检验</a></li>
                                <li><a href="/Product/Package.aspx"><i class="fa fa-circle-o"></i>包装</a></li>
                                <li><a href="/Product/ReturnWarehouse.aspx"><i class="fa fa-circle-o"></i>退库</a></li>
                                <li><a href="/Product/WOChange.aspx"><i class="fa fa-circle-o"></i>工单变更</a></li>
                                <li><a href="/Product/ReturnLot.aspx"><i class="fa fa-circle-o"></i>流程退回</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-pie-chart"></i>
                                <span>备料模块</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Material/CreateWorkorder.aspx"><i class="fa fa-circle-o"></i>创建工单</a></li>
                                <li><a href="/Material/WOManage.aspx"><i class="fa fa-circle-o"></i>工单管理</a></li>
                                <li><a href="/Material/CreateLot.aspx"><i class="fa fa-circle-o"></i>创建批次号</a></li>
                                <li><a href="/Material/LabelReprint.aspx"><i class="fa fa-circle-o"></i>补打条码</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-laptop"></i>
                                <span>仓管模块</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Warehouse/Warehouse.aspx"><i class="fa fa-circle-o"></i>成品入库</a></li>
                                <li><a href="/Warehouse/Shipment.aspx"><i class="fa fa-circle-o"></i>成品出库</a></li>
                                <li><a href="/Warehouse/InventoryManage.aspx"><i class="fa fa-circle-o"></i>入库查询</a></li>
                                <li><a href="/Warehouse/ShipmentManage.aspx"><i class="fa fa-circle-o"></i>预出库查询</a></li>
                                <li><a href="/Warehouse/ShipmentQuery.aspx"><i class="fa fa-circle-o"></i>出库查询</a></li>
                                <li><a href="/Warehouse/OnhandInventory.aspx"><i class="fa fa-circle-o"></i>库存查询</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i><span>质量模块</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">

                                <li><a href="/QC/FQCAction.aspx"><i class="fa fa-circle-o"></i>质量检验</a></li>
                                <li><a href="/QC/QCQuery.aspx"><i class="fa fa-circle-o"></i>检验记录查询</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i><span>设备模块</span>
                                <span class="pull-right-container">
                                    <span class="pull-right-container">
                                        <small class="label pull-right bg-yellow">12</small>
                                        <small class="label pull-right bg-green">16</small>
                                        <small class="label pull-right bg-red">5</small>
                                    </span>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Eqp/EqpManage.aspx"><i class="fa fa-circle-o"></i>设备管理</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-folder"></i><span>报表模块</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Report/MouldQuery.aspx"><i class="fa fa-circle-o"></i>模具批次查询</a></li>
                                <li><a href="/Report/FilmQuery.aspx"><i class="fa fa-circle-o"></i>制造批次查询</a></li>
                                <li><a href="/Report/FilmLotHistory.aspx"><i class="fa fa-circle-o"></i>产品追溯</a></li>
                                <li><a href="/Report/WIPReport.aspx"><i class="fa fa-circle-o"></i>WIP报表</a></li>
                                <li><a href="/Report/OutputReport.aspx"><i class="fa fa-circle-o"></i>产出报表</a></li>
                                <li><a href="/Report/LineOutputReport.aspx"><i class="fa fa-circle-o"></i>线别产出报表</a></li>
                                <li><a href="/Report/MouldLotHistory.aspx"><i class="fa fa-circle-o"></i>模具追溯</a></li>
                                <li><a href="/Report/MouldLotStatus.aspx"><i class="fa fa-circle-o"></i>模具状态</a></li>
                                <li><a href="http://10.47.0.80:8087/Index.aspx"><i class="fa fa-circle-o"></i>自定义报表</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i><span>系统设置</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Configpara/Configpara.aspx"><i class="fa fa-circle-o"></i>参数设置</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-share"></i><span>权限管理</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/PermissionManage/UserManage.aspx"><i class="fa fa-circle-o"></i>用户维护</a></li>
                                <li><a href="/PermissionManage/GroupManage.aspx"><i class="fa fa-circle-o"></i>群组维护</a></li>
                            </ul>
                        </li>

                        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i><span>Documentation</span></a></li>
                        <li class="header">LABELS</li>
                        <li><a href="#"><i class="fa fa-circle-o text-red"></i><span>Important</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i><span>Warning</span></a></li>
                        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i><span>Information</span></a></li>
                        -->
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>



            <div class="content-wrapper">

                <div>
                    @RenderBody()
                </div>

            </div>
            <div class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.4.0

                </div>
                <strong>Copyright &copy; 2015-2018 <a href="#">HuLi Tech</a>.</strong> All rights
                reserved.
            </div>
        </div>



    </div>

</body>
</html>
@Scripts.Render("~/3rd/js")
<script src="~/3rd/AdminLTE2.4.3/plugins/iCheck/icheck.min.js"></script>
