
@{
    ViewBag.Title = "QC";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/3rd/AdminLTE2.4.3/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<section class="content-header"></section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary" >
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">质量报表</h3>
                </div>
                <div class="box-body">
                    <div class="form-inline">

                        <input id="LotID" class="form-control" type="text" placeholder="组件编码" />
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class=" form-control" name="start" />
                            <span class="input-group-addon">to</span>
                            <input type="text" class=" form-control" name="end" />
                        </div>
                        <button class="btn btn-default" >查询</button>
                    </div>
                    
                </div>
                <div class="box-body ">
                    

                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/3rd/AdminLTE2.4.3/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="~/3rd/AdminLTE2.4.3/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="~/3rd/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
<script>
    $().ready(function () {
        $('.input-daterange').datepicker({
            language: 'zh-CN',//显示中文
            format: 'yyyy-mm-dd',
        });
    })
</script>

