
@{
    ViewBag.Title = "RunCard";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style type="text/css">
    /*#tbRuncard .td {
        border: solid #3c8dbc;
        border-width: 2px 2px 2px 2px;
        padding-left: 10px;
    }

    #tbRuncard {
        border: solid #3c8dbc;
        border-width: 1px 1px 1px 1px;
    }*/
    #tbRuncard, #tbRuncard tr th, #tbRuncard tr td {
        /*padding: .5em .5em;*/
        border: solid #c4c5d6;
        border-width: 1px 1px 1px 1px;
    }
    /*table {
        border-collapse:initial;
    }*/
    /*设置边框的*/
</style>
<section class="content-header"></section>
<section class="content" ng-app="myApp">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary" ng-controller="RunCardCtrl">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">组件电子流转单</h3>
                </div>
                <div class="box-body">
                    <div class="form-inline">
                        <input id="LotID" class="form-control" type="text" placeholder="组件编码" />
                        <button class="btn btn-default" ng-click="QueryLot()">查询</button>
                        <button id="btnExportExcel" class="btn btn-default btn-sm export-xlsx-button">&nbsp<span class="button-inner"></span></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped table-hover table-condensed" id="tbRuncard" style="display:none">
                        <tbody>

                            <tr>

                                <td colspan="12">生产基本信息</td>

                            </tr>
                            <tr>

                                <td>投产日期</td>
                                <td ng-bind="lotidinfo.create_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td> 客户</td>
                                <td ng-bind="lotidinfo.cust_desc"></td>
                                <td>线别</td>
                                <td ng-bind="xianbie">A线</td>
                                <td>订单号</td>
                                <td ng-bind="lotidinfo.sale_order"></td>
                                <td>工单号</td>
                                <td ng-bind="lotidinfo.workorder"></td>
                                <td>产品规格</td>
                                <td ng-bind="lotidinfo.product_code"></td>
                            </tr>
                            <tr>
                                <td colspan="7">过站信息</td>
                                <td colspan="5">材料信息</td>
                            </tr>
                            <tr>

                                <td>焊接</td>
                                <td>焊接机台号</td>
                                <td ng-bind="weldinfo.wks_id"></td>
                                <td>焊接时间</td>
                                <td ng-bind="weldinfo.wks_visit_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>焊接人员</td>
                                <td ng-bind="weldinfo.operator"></td>
                                <td rowspan="2">电池片</td>
                                <td>电池片批号</td>
                                <td></td>
                                <td>电池片厂家</td>
                                <td ng-bind="lotidinfo.cell_supplier_desc"></td>
                            </tr>
                            <tr style="">

                                <td>互联</td>
                                <td>互联机台号</td>
                                <td ng-bind=""></td>
                                <td>互联时间</td>
                                <td ng-bind=""></td>
                                <td>互联人员</td>
                                <td ng-bind=""></td>
                                <td>电池片颜色</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="">

                                <td>层压前EL</td>
                                <td>层压前EL机台号</td>
                                <td ng-bind="ELBeforeLayup.wks_id"></td>
                                <td>测试时间</td>
                                <td ng-bind="ELBeforeLayup.wks_visit_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>是否返修</td>
                                <td ng-bind=""></td>
                                <td>高透EVA</td>
                                <td>高透EVA批号</td>
                                <td ng-bind="LaminationHighEVAinfo.lot_nbr"></td>
                                <td>高透EVA厂家</td>
                                <td ng-bind="LaminationHighEVAinfo.supplier_code"></td>
                            </tr>
                            <tr style="">

                                <td>层压</td>
                                <td>层压机台号</td>
                                <td ng-bind="weldinfo.wks_visit_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>层压时间</td>
                                <td ng-bind="weldinfo.operator"></td>
                                <td></td>
                                <td></td>
                                <td>普通EVA</td>
                                <td>普通EVA批号</td>
                                <td ng-bind="LaminationEVAinfo.lot_nbr"></td>
                                <td>普通EVA厂家</td>
                                <td ng-bind="LaminationEVAinfo.supplier_code"></td>

                            </tr>
                            <tr style="">

                                <td rowspan="2">层压后检验</td>
                                <td>层压后检验机台号</td>
                                <td ng-bind="QCAfterLayupinfo.wks_id"></td>
                                <td>检验时间</td>
                                <td ng-bind="QCAfterLayupinfo.wks_visit_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>检验人员</td>
                                <td ng-bind="QCAfterLayupinfo.username"></td>
                                <td>背板</td>
                                <td>背板批号</td>
                                <td ng-bind="LaminationBackinfo.lot_nbr"></td>
                                <td>背板厂家</td>
                                <td ng-bind="LaminationBackinfo.supplier_code"></td>
                            </tr>
                            <tr>

                                <td>层压后检验结果</td>
                                <td ng-bind="QCAfterLayupinfo.isHold|result"></td>
                                <td>不良描述</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>玻璃</td>
                                <td>玻璃批号</td>
                                <td ng-bind="LaminationGlassinfo.lot_nbr"></td>
                                <td>玻璃厂家</td>
                                <td ng-bind="LaminationGlassinfo.supplier_code"></td>
                            </tr>
                            <tr style="">

                                <td>组装</td>
                                <td>组装机台号</td>
                                <td ng-bind="FrameBoxinfo.wks_id"></td>
                                <td>组装时间</td>
                                <td ng-bind="FrameBoxinfo.wks_visit_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>组装人员</td>
                                <td ng-bind="FrameBoxinfo.operator"></td>
                                <td>双波玻璃</td>
                                <td>玻璃批号</td>
                                <td></td>
                                <td>玻璃厂家</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>固化时间</td>
                                <td ng-bind="Cleaninfo.curingtime"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>焊带</td>
                                <td>焊带规格</td>
                                <td></td>
                                <td>焊带厂家</td>
                                <td></td>
                            </tr>
                            <tr style="">

                                <td>清洗</td>
                                <td>清洗机台号</td>
                                <td ng-bind="Cleaninfo.wks_id"></td>
                                <td>清洗时间</td>
                                <td ng-bind="Cleaninfo.wks_visit_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>清洗人员</td>
                                <td ng-bind="Cleaninfo.nickname"></td><!--清洗机台编号-->
                                <td>助焊剂</td>
                                <td>助焊剂规格</td>
                                <td></td>
                                <td>助焊剂厂家</td>
                                <td></td>
                                <!--开发到此处2018-7-31-->
                            </tr>
                            <tr>

                                <td>耐压</td>
                                <td>耐压数据</td>
                                <td ng-bind="lotidinfo.ny_result"></td>
                                <td>耐压时间</td>
                                <td ng-bind=""></td>
                                <td>耐压结果</td>
                                <td ng-bind=""></td>
                                <td>汇流条</td>
                                <td>汇流条规格</td>
                                <td ng-bind=""></td>
                                <td>汇流条厂家</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr>

                                <td rowspan="2">IV测试</td>
                                <td>测试机台号</td>
                                <td ng-bind="IVinfo.wks_id"></td>
                                <td>测试时间</td>
                                <td ng-bind="IVinfo.wks_visit_date| date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <td>电流</td>
                                <td ng-bind="IVinfo.isc"></td>
                                <td>边框</td>
                                <td>边框规格</td>
                                <td ng-bind=""></td>
                                <td>边框厂家</td>
                                <td ng-bind=""></td>
                            </tr>
                            <tr style="">

                                <td>功率</td>
                                <td ng-bind=""></td>
                                <td>功率档位</td>
                                <td ng-bind=""></td>
                                <td>电流挡位</td>
                                <td ng-bind=""></td>
                                <td>反光膜</td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="">

                                <td>层压后EL</td>
                                <td>测试机台号</td>
                                <td ng-bind=""></td>
                                <td>测试时间</td>
                                <td ng-bind=""></td>

                                <td>测试结果</td>
                                <td ng-bind=""></td>
                                <td>线盒</td>
                                <td>线盒批号</td>
                                <td ng-bind="FrameBoxinfo.lot_nbr"></td>
                                <td>线盒厂家</td>
                                <td ng-bind="FrameBoxinfo.supplier"></td>
                            </tr>
                            <tr style="">

                                <td rowspan="2">外观检验</td>
                                <td>检验机台号</td>
                                <td ng-bind=""></td>
                                <td>组件等级</td>
                                <td ng-bind="lotidinfo.exterior_grade"></td>
                                <td>组件颜色</td>
                                <td ng-bind="lotidinfo.mod_color"></td>
                                <td>灌封胶</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="">

                                <td>电流挡位</td>
                                <td ng-bind="lotidinfo.current_grade"></td>
                                <td>功率挡位</td>
                                <td ng-bind="lotidinfo.power_grade"></td>
                                <td></td>
                                <td></td>
                                <td>工艺信息</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr style="">

                                <td rowspan="2">入库信息</td>
                                <td>入库时间</td>
                                <td ng-bind=""> </td>
                                <td>托盘号</td>
                                <td ng-bind="Packinfo.pallet_nbr"></td>
                                <td>入库人员</td>
                                <td ng-bind=""></td>

                                <td>串焊机参数</td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr style="">

                                <td>库位</td>
                                <td ng-bind=""></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>层压机参数</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr style="">
                                <td>出货信息</td>
                                <td>出货柜号</td>
                                <td ng-bind=""></td>
                                <td>出货日期</td>
                                <td ng-bind=""></td>
                                <td></td>
                                <td></td>
                                <td colspan="5"></td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/3rd/tableexport20180710/xlsx.core.js"></script>
<script src="~/3rd/tableexport20180710/FileSaver.js"></script>
<script src="~/3rd/tableexport20180710/dist/js/tableexport.js?v=2"></script>
<script src="~/3rd/Angularjs/angular.min.js?v=1"></script>
@*<script src="~/3rd/Angularjs/angular-route.min.js"></script>*@
<script src="~/Scripts/Report/RunCard/app.js"></script>
<script src="~/Scripts/Report/RunCard/controller.js?v=10"></script>
<script>
    $('#btnExportExcel').click(function () {
        var ExportButtons = document.getElementById('tbRuncard');

        var instance = new TableExport(ExportButtons, {
            formats: ['xlsx'],
            exportButtons: false
        });

        //                                        // "id" of selector    // format
        var exportData = instance.getExportData()['tbRuncard']['xlsx'];

        //var XLSbutton = document.getElementById('customXLSButton');

        //XLSbutton.addEventListener('click', function (e) {
        //                   // data          // mime              // name              // extension
        instance.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
        //});
    })


</script>